*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.container {
  max-width: 1145px;
  margin-left: auto;
  margin-right: auto;
}
.site-header {
  padding-top: 25px;
  padding-bottom: 25px;
}
.site-nav {
  text-align: center;
}
.nav-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}
.nav-item {
  display: inline-block;
  vertical-align: middle;
}
.nav-item:not(:last-child) {
  margin-right: 72px;
}
.nav-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2.7px;
  color: #ff0000;
  text-transform: uppercase;
}
.page-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 789px;
  width: 100%;
}
.main-title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 3.3px;
  color: #373737;
  margin-top: 49px;
  margin-bottom: 38px;
  text-align: center;
  text-transform: uppercase;
}
.main-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.4px;
  color: #373737;
  text-align: center;
  margin-bottom: 28px;
}
.main-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 191px;
  height: 51px;
  background: #ff0000;
  border: 0;
  border-radius: 4px;
  padding: 18px 43px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1.8px;
  color: #ffffff;
  margin-top: 66px;
  margin-bottom: 42px;
  text-transform: uppercase;
}
.main-button:hover {
  cursor: pointer;
}
.footer-text {
  max-width: 1070px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.4px;
  color: #373737;
  text-align: right;
  padding-top: 40px;
  padding-bottom: 29px;
}
